
@{
	Layout = "~/Views/shared/Layout.cshtml";
}
@model BackendExercise.Views.Home.IndexModel
@{
}
<p style="color:red;font:arial sans-seriff; font-size:14px;"> you are currently at:@ViewBag.Page </p>
<h1 style="color:blue;font:arial sans-seriff; font-size:46px;">CV</h1>

<h2 style="font:arial sans-seriff; font-size:24px;">IT-KUNSKAPER </h2>
<ul style="font:arial sans-seriff; font-size:16px;">
	<li>Mjukvara: </li>
<li>Programspråk: Matlab, C#  </li>
<li>Operativsystem:  Användare av Windows, Linux, Unix.</li>
<li>Webb:  HTML</li>
 
<li>Hårdvara: </li>
<li>Laptop/Desktop: Installation/Felsökning  </li>
</ul>
<h2 style="font:arial sans-seriff; font-size:24px;">UTBILDNING </h2>
<p style="font:arial sans-seriff; font-size:16px;">2021 -  Pågående: IT-påbyggnadsnivå Programmering .NET. Utbildningsanordnare:  Lexicon Yrkesutbildning i Väst </p>
<p style="font:arial sans-seriff; font-size:16px;">Kursinnehåll:</p> 
<ul style="font:arial sans-seriff; font-size:16px;">
	<li>.NET</li><li> C#</li><li> SQL</li><li> .ASP</li><li> HTML</li><li> CSS</li><li> JavaScript</li><li> LINQ</li><li> TDD</li><li> Azure</li>
 </ul>
	
<p style="font:arial sans-seriff; font-size:16px;">2009-2013 Forskarutbildning kemi Göteborgs Universitet</p>
 <p style="font:arial sans-seriff; font-size:16px;">Disputerad 2013. Avhandlingens namn: New single particle methods for detection and characterization of nanoparticles in environmental samples.</p>
<p style="font:arial sans-seriff; font-size:16px;">2002 - 2007 Kemiprogrammet Linköpings Universitet</p>
<p style="font:arial sans-seriff; font-size:16px;">MSc. Och BSc. i fysikalisk och oorganisk kemi.  Biämnen: matematik och fysik.</p>
<h2 style="font:arial sans-seriff; font-size:24px;">ARBETSLIVSERFARENHET </h2> 
<p style="font:arial sans-seriff; font-size:16px;">2017 - 2019 Forskare, SLU Uppsala</p>
	
<p style="font:arial sans-seriff; font-size:16px;">2013-2016  Forskare, Lunds universitet</p>

<p style="font:arial sans-seriff; font-size:16px;">2013-2016  Forskare, Göteborgs universitet</p>

<ul style="font:arial sans-seriff; font-size:16px;">
<li>Utveckling och validering av metoder för kemisk analys. </li>
<li>Statistik, dataanalys, och matematisk modellering. </li>
<li>Programmering i Matlab.</li> 
<li>Författare av artiklar och bokkapitel.</li> 
<li>Muntlig och grafisk presentation forskningsresultat.</li> 
<li>Inköp och administrativa arbetsuppgifter.</li>
<li>Handledning av examensarbetare.</li>
 </ul>
 
<p style="font:arial sans-seriff; font-size:16px;">2009 - 2013 Doktorand, Göteborgs universitet</p>

<ul style="font:arial sans-seriff; font-size:16px;">
	<li>Utveckling och validering av kemiska analysmetoder.</li>
	<li>Instruktör i kromatografi.</li>
	<li>Dataanalys och programmering i Matlab.</li>
	<li>Författare av artiklar.</li>
	<li>Rådgivning vid inköp av analysinstrument.</li>
 </ul>
 
<p style="font:arial sans-seriff; font-size:16px;">2002 - 2008 Byggnadsarbetare, Torppa Rörprojekt AB</p>
<p style="font:arial sans-seriff; font-size:16px;">Rivning och montering av VVS.</p>

<p style="font:arial sans-seriff; font-size:16px;">2002 – Kyllagerarbetare, Arla Foods </p>
<p style="font:arial sans-seriff; font-size:16px;">Orderplock på kyllager. </p> 

<p style="font:arial sans-seriff; font-size:16px;">2002 – Städare Rutin städ AB</p>
<p style="font:arial sans-seriff; font-size:16px;">Dagstädning på vårdcentraler.</p>

<h2 style="font:arial sans-seriff; font-size:24px;">SPRÅK  </h2> 
<p style="font:arial sans-seriff; font-size:16px;">Finska Modersmål</p>
<p style="font:arial sans-seriff; font-size:16px;">Svenska Mycket goda kunskaper i tal och skrift </p>
<p style="font:arial sans-seriff; font-size:16px;">Engelska Mycket goda kunskaper i tal och skrift </p>
<h2 style="font:arial sans-seriff; font-size:24px;">ÖVRIGA MERITER  </h2>
<p style="font:arial sans-seriff; font-size:16px;">• Körkort, B </p>

<h2 style="font:arial sans-seriff; font-size:24px;">PERSONLIGA EGENSKAPER </h2> 
 
<ul style="font:arial sans-seriff; font-size:16px;">	<li>Arbetar hårt och lär mig snabbt</li><li> Slutför alltid mina projekt</li></ul>

<h2 style="font:arial sans-seriff; font-size:24px;">REFERENSER </h2>
<p style="font:arial sans-seriff; font-size:16px;">Lämnas gärna vid förfrågan.</p> 







