@page
@{
	Layout = "~/Views/shared/Layout.cshtml";
}
@model BackendExercise.Views.Home.IndexModel
@{
}
<p style="color:red;font:arial sans-seriff; font-size:14px;"> you are currently at:@ViewBag.Page </p>
<h1 style="color:blue;font:arial sans-seriff; font-size:46px;">Wellcome to the home page of Jani Tuoriniemi</h1>