
@{
	Layout = "~/Views/shared/Layout.cshtml";
}
@model BackendExercise.Views.Home.IndexModel
@{
	
}
<p style="color:red;font:arial sans-seriff; font-size:14px;"> you are currently at:@ViewBag.Page </p>
<h1 style="color:blue;font:arial sans-seriff; font-size:46px;">Projects</h1>
<p style="font:arial sans-seriff; font-size:16px;"> Below are GitHub links to some projects i have done during the course.
	The "calculator" carries out addition, subtraction, multiplication, and division in a console window.<br>
	The "hangman" contains the game hangman in a console window. The "Vendingmachine" is a program that simulates a vending machine in a console window.<br>
	The "sokoban" contains the game sokoban playable in a web browser.</p>
 <ul style="color:blue;font:arial sans-seriff; font-size:22px;"> 
	 <li>  <a href="https://github.com/JaniTuoriniemi/Calculator_New_tests3_1">Calculator</a> </li>
	 <li>  <a href="https://github.com/JaniTuoriniemi/Hangman3_1corrected">Hangman</a> </li>
	 <li>  <a href="https://github.com/JaniTuoriniemi/NewVendingMachine">Vendingmachine</a> </li>
	 <li>  <a href="https://github.com/JaniTuoriniemi/sokoban">Sokoban</a> </li>
</ul> 